.toolbar {
    padding: 7px;
    border: solid;
    border-color: black;
}

.btn {
    padding:2px;
    border: solid!important;
    border-color: navy!important;
    text-decoration: none!important;
    color: black;
    margin: 0px;
}